.root {
  background-color: #1a1f2b;

  @media (max-width: 767px) {
    min-height: 100vh;
  }
}

.container {
  margin: auto;
  padding: 60px 20px;
  max-width: 1200px;

  h2 {
    margin: 0 0 60px 0;
    text-align: center;
    color: #fff;
    font-size: 42px;
  }
}

.person {
  color: #fff;
  margin: 0 0 75px 0;

  img {
    width: 250px;
    height: auto;
    display: block;
    margin: auto;
  }

  span {
    display: block;
    margin: 15px 0 5px;
    text-align: center;
    font-size: 28px;
  }

  em {
    display: block;
    margin: 5px 0;
    font-size: 24px;
    text-align: center;
    color: #04a0ef;
  }

  p {
    font-size: 22px;
    line-height: 30px;
    text-align: justify;
  }
}


