.container {
  margin: auto;
  padding: 60px 20px;
  max-width: 1200px;

  h2 {
    text-align: center;
    color: #1A96F8;
    font-size: 42px;

  }
}

.wrap {
  max-width: 343px;
  margin: 30px auto;
  position: relative;

  img:last-child {
    position: absolute;
    top: 10%;
    opacity: 0;
    transition: .3s all;
  }

  &:hover {

    img:last-child {
      top: 0;
      opacity: 1;
      top: 0;
    }
  }
}

// 下面的都是手机版的
.m {
  margin: 20px 0;
  padding: 0 90px;

  h3 {
    margin: 20px 0;
    color: #1A96F8;
    font-size: 28px;
    text-align: center;
  }

  p {
    font-size: 24px;
    line-height: 36px;
    color: #474847;
    text-align: justify;
  }
}
.icon {
  width: 101px;
  height: 116px;
  margin: auto;
  background-size: cover;

  &.icon1 {
    background-image: url('./assets/m_1.png');
  }

  &.icon2 {
    background-image: url('./assets/m_2.png');
  }

  &.icon3 {
    background-image: url('./assets/m_3.png');
  }
}

