.root {
  background-color: #040223;
}

.container {
  max-width: 1200px;
  padding: 60px 20px;
  margin: auto;

  > h2 {
    margin: 0 0 80px;
    font-size: 26PX;
    color: #D1E5EF;
    text-align: center;
  }

  dl {
    padding: 0 20PX;

    dt {
      color: #D1E5EF;
      font-size: 20PX;
      text-align: center;

      &:before {
        content: '';
        display: block;
        margin: 0 auto 20PX;
        width: 53PX;
        height: 67PX;
        background: url(./assets/icon_1.png) no-repeat center center;
        background-size: contain;
      }
    }

    dd {
      font-size: 14PX;
      line-height: 20PX;
      margin: 30PX 0 0;
      color: #8288A3;
      text-align: justify;
    }

    &:nth-child(2) > dt:before {
      background-image: url(./assets/icon_2.png);
    }

    &:nth-child(3) > dt:before {
      background-image: url(./assets/icon_3.png);
    }
  }
}

