.root {
  background-color: #040223;

  h2 {
    margin: 0 0 80px;
    font-size: 26px;
    color: #D1E5EF;
    text-align: center;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}

.table {
  display: table;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 270px;
    border-radius: 50%;
    transform: translateY(35px) translateX(97px);
    animation: halo 3s alternate infinite;
  }
}

.menu {
  display: table-cell;
  position: relative;
  background-color: rgb(4, 2, 35);
  min-width: 226px;

  ul {
    padding: 0;
    margin: 0;
    font-size: 20px;
    cursor: pointer;

    li {
      height: 70px;
      line-height: 70px;
      padding: 0 0 0 85px;
      list-style: none;
      position: relative;
      color: #8288A3;
      transition: color .3s;

      &:before {
        content: '';
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: #8288A3;
        transform: translateX(-45px) translateY(32px);
        transition: background-color .3s;
      }

      &:after {
        content: '';
        position: absolute;
        top: 5px;
        right: -1px;
        width: 10px;
        height: 60px;
        border-radius: 50%;
        transition: box-shadow .3s, background-color .3s;
      }


      &:hover, &.active {
        color: #FFF;
        &:before {
          background-color: #fff;
        }

        &:after {
          box-shadow: 0 0 7px 2px #1281b6;
          background-color: #1293cb
        }
      }

      span {
        display: block;
        padding: 0 20px 0 0;
        background-color: rgb(4, 2, 35);
        position: relative;
        z-index: 1;
      }
    }
  }
}

@keyframes halo {
  from {
    box-shadow: 0 0 90px 21px #1281b6;
    transform: translateY(35px) translateX(90px);
  }
  to {
    box-shadow: 0 0 125px 21px #128fc6;
    transform: translateY(35px) translateX(105px);
  }
}

.section {
  display: table-cell;
  padding: 0 0 0 70px;
  width: 100%;
  vertical-align: top;

  dl {
    position: relative;
    padding: 0 0 0 70px;
    margin-bottom: 60px;

    @media screen and (max-width: 992px) {
      margin: 0 0 30px 0;
    }

    &:before {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      background: url(./assets/icon_1.png) no-repeat center;
      background-size: 29px 34px;
      transform: translateX(-70px);
    }

    &.icon_1_impl:before {
      background-image: url(./assets/icon_1_impl.png);
      background-size: 39px 34px;
    }

    &.icon_2:before {
      background-image: url(./assets/icon_2.png);
      background-size: 33px 32px;
    }

    &.icon_2_impl:before {
      background-image: url(./assets/icon_2_impl.png);
      background-size: 32px 32px;
    }

    &.icon_3:before {
      background-image: url(./assets/icon_3.png);
      background-size: 34px 34px;
    }

    &.icon_3_impl:before {
      background-image: url(./assets/icon_3_impl.png);
      background-size: 35px 34px;
    }

    &.icon_4:before {
      background-image: url(./assets/icon_4.png);
      background-size: 34px 34px;
    }

    &.icon_4_impl:before {
      background-image: url(./assets/icon_4_impl.png);
      background-size: 34px 34px;
    }

    &.icon_5:before {
      background-image: url(./assets/icon_5.png);
      background-size: 34px 34px;
    }

    &.icon_5_impl:before {
      background-image: url(./assets/icon_5_impl.png);
      background-size: 34px 34px;
    }

    dt {
      font-size: 20px;
      color: #fff
    }

    dd {
      margin: 20px 0 0;
      font-size: 14px;
      color: #8288A3;
      line-height: 20px;
    }
  }
}

@mixin label-variant($url) {
  &:before {
    background: url($url) no-repeat center;
    background-size: contain;
  }
}

.swipeUnit {
  margin: 0 60px;
  color: #fff;
  font-size: 22px;
  line-height: 36px;
  overflow: hidden;
  position: relative;

  &:before {
    z-index: 10;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid transparent;
    border-image: linear-gradient(#0a6cff,rgba(0,0,0, .0)) 0  100%;
    transform-origin: 0 0;
    width: 100%;
    height: 100%;
  }

  span {
    display: block;
    width: 233px;
    height: 68px;
    padding: 0 0 0 32px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    line-height: 68px;
    background-image: linear-gradient(90deg, #0a6cff,rgba(0,0,0, .0));
    position: relative;

    &:before {
      content: '';
      width: 40px;
      height: 40px;
      position: absolute;
      left: 10px;
      top: 11px;
    }

    &.t1 {
      @include label-variant('./assets/icon1.png')
    }

    &.t2 {
      @include label-variant('./assets/icon2.png')
    }

    &.t3 {
      @include label-variant('./assets/icon3.png')
    }

    &.t4 {
      @include label-variant('./assets/icon4.png')
    }

    &.t5 {
      @include label-variant('./assets/icon5.png')
    }

  }

  h4 {
    font-size: 22px;
    margin: 22px 0 0;
    padding: 0;
  }

  ol {
    padding: 20px 0 0 35px;
  }

  p {
    padding: 10px 0 0 10px;
    text-align: justify;
  }

  h4 ~ p {
    padding: 10px 10px 40px 0;
  }
}

.link1 {
  margin: 0 0 0 130px;

  &:before {
    background: url('./assets/icon1.png') no-repeat center center;
    background-size: contain;
  }
}

.link2 {
  margin: -10px 0 0 0;

  &:before {
    background: url('./assets/icon2.png') no-repeat center center;
    background-size: contain;

  }
}

.link3 {
  margin: -10px 0 0 52px;

  &:before {
    background: url('./assets/icon3.png') no-repeat center center;
    background-size: contain;
  }
}

.link4 {
  margin: -10px 0 0 195px;

  &:before {
    background: url('./assets/icon4.png') no-repeat center center;
    background-size: contain;
  }
}

.link5 {
  margin: -10px 0 0 120px;

  &:before {
    background: url('./assets/icon5.png') no-repeat center center;
    background-size: contain;
  }
}

:global(.fade-enter) {
  position: absolute;
  top: 0;
  z-index: 10000;
  opacity: 0;
  transform: translateY(100%);
}
:global(.fade-enter-active) {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s ease-out;
}
:global(.fade-exit-done) {
  opacity: 0 !important;
}
:global(.fade-exit) {
  opacity: 0.5;
  transform: translateY(0);
}
:global(.fade-exit-active) {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.3s;
}
