.root {
  background-color: #040223;

  h2 {
    margin: 0 0 80px;
    font-size: 26PX;
    color: #D1E5EF;
    text-align: center;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}

.table {
  display: table;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 270px;
    border-radius: 50%;
    transform: translateY(35px) translateX(97px);
    animation: halo 3s alternate infinite;

    @media screen and (max-width: 767px) {
      content: unset;
    }
  }
}

.menu {
  display: table-cell;
  position: relative;
  background-color: rgb(4, 2, 35);
  min-width: 226px;

  ul {
    padding: 0;
    margin: 0;
    font-size: 20px;
    cursor: pointer;

    li {
      height: 70px;
      line-height: 70px;
      padding: 0 0 0 85px;
      list-style: none;
      position: relative;
      color: #8288A3;
      transition: color .3s;

      &:before {
        content: '';
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: #8288A3;
        transform: translateX(-45px) translateY(32px);
        transition: background-color .3s;
      }

      &:after {
        content: '';
        position: absolute;
        top: 5px;
        right: -1px;
        width: 10px;
        height: 60px;
        border-radius: 50%;
        transition: box-shadow .3s, background-color .3s;
      }


      &:hover, &.active {
        color: #FFF;
        &:before {
          background-color: #fff;
        }

        &:after {
          box-shadow: 0 0 7px 2px #1281b6;
          background-color: #1293cb
        }
      }

      span {
        display: block;
        padding: 0 20px 0 0;
        background-color: rgb(4, 2, 35);
        position: relative;
        z-index: 1;
      }
    }
  }
}

@keyframes halo {
  from {
    box-shadow: 0 0 90px 21px #1281b6;
    transform: translateY(35px) translateX(90px);
  }
  to {
    box-shadow: 0 0 125px 21px #128fc6;
    transform: translateY(35px) translateX(105px);
  }
}

.section {
  display: table-cell;
  padding: 0 0 0 70px;
  width: 100%;
  vertical-align: top;

  @media screen and (max-width: 768px) {
    padding: 0 50px;
  }

  dl {
    position: relative;
    padding: 0 0 0 70PX;
    margin-bottom: 60PX;

    &:before {
      content: '';
      position: absolute;
      width: 40PX;
      height: 40PX;
      background: url(./assets/icon_1.png) no-repeat center;
      background-size: 29PX 34PX;
      transform: translateX(-70PX);
    }

    &.icon_1_impl:before {
      background-image: url(./assets/icon_1_impl.png);
      background-size: 39PX 34PX;
    }

    &.icon_2:before {
      background-image: url(./assets/icon_2.png);
      background-size: 33PX 32PX;
    }

    &.icon_2_impl:before {
      background-image: url(./assets/icon_2_impl.png);
      background-size: 32PX 32PX;
    }

    &.icon_3:before {
      background-image: url(./assets/icon_3.png);
      background-size: 34PX 34PX;
    }

    &.icon_3_impl:before {
      background-image: url(./assets/icon_3_impl.png);
      background-size: 35PX 34PX;
    }

    &.icon_4:before {
      background-image: url(./assets/icon_4.png);
      background-size: 34PX 34PX;
    }

    &.icon_4_impl:before {
      background-image: url(./assets/icon_4_impl.png);
      background-size: 34PX 34PX;
    }

    &.icon_5:before {
      background-image: url(./assets/icon_5.png);
      background-size: 34PX 34PX;
    }

    &.icon_5_impl:before {
      background-image: url(./assets/icon_5_impl.png);
      background-size: 34PX 34PX;
    }

    dt {
      font-size: 20PX;
      color: #fff
    }

    dd {
      margin: 20PX 0 0;
      font-size: 14PX;
      color: #8288A3;
      line-height: 20PX;
    }
  }
}

:global(.fade-enter) {
  position: absolute;
  top: 0;
  z-index: 10000;
  opacity: 0;
  transform: translateY(200px);
}
:global(.fade-enter-active) {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.7s ease-out 0.5s;
}

:global(.fade-exit-done) {
  opacity: 0 !important;
}
:global(.fade-exit) {
  opacity: 0.5;
  transform: translateY(0);
}
:global(.fade-exit-active) {
  opacity: 0;
  transform: translateY(-50%);
  transition: all 0.5s;
}
