.root {
  min-height: 700px;
  padding: 93px 0 0 0;
  background: url('./assets/bg.png') no-repeat rgb(6, 10, 35) center;
  background-size: cover;
  color: #fff;

  @media (max-width: 767px) {
    min-height: 100vh;
  }

  h2 {
    margin: 0 0 80px;
    font-size: 42px;
    color: #1A96F8;
    text-align: center;
  }
}

.container {
  margin: auto;
  // 屏幕太大，左右两栏就跑开了
  max-width: 1200px;
}

// 交错菜单
.menu {
  margin: 0 20px;

  span{
    display: block;
    width: 282px;
    height: 110px;
    padding-left: 35px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    line-height: 110px;
    background: url('./assets/btn.png') no-repeat;
    position: relative;
    cursor: pointer;
    transition: .3s all;

    &:before {
      content: '';
      width: 40px;
      height: 38px;
      position: absolute;
      left: 40px;
      top: 30px;
    }

    &:hover, &.active {
      z-index: 10;
      background: url('./assets/btn_active.png') no-repeat;
      box-shadow: -4px 6px 28px 0px rgba(0, 0, 0, .5);
    }
  }
}

.content {
  display: none;
  margin: 0 20px;
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  overflow: hidden;

  h4 {
    font-size: 23px;
  }

  ol {
    padding-left: 20px;
  }

  &.show {
    display: block;
  }

  @media (max-width: 767px) { // <=767px
    display: block;
    margin: 0 auto 40px;
    padding-left: 20px;

    h4 {
      font-size: 23px;
    }
  }

  @media (max-width: 479px) {
    padding-left: unset;
  }
}

@mixin label-variant($url) {
  &:before {
    background: url($url) no-repeat center;
    background-size: contain;
  }
}

.swipeUnit {
  margin: 0 60px;
  color: #fff;
  font-size: 22px;
  line-height: 36px;
  overflow: hidden;
  position: relative;

  &:before {
    z-index: 10;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid transparent;
    border-image: linear-gradient(#0a6cff,rgba(0,0,0, .0)) 0  100%;
    transform-origin: 0 0;
    width: 100%;
    height: 100%;
  }

  span {
    display: block;
    width: 233px;
    height: 68px;
    padding: 0 0 0 32px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    line-height: 68px;
    background-image: linear-gradient(90deg, #0a6cff,rgba(0,0,0, .0));
    position: relative;

    &:before {
      content: '';
      width: 40px;
      height: 40px;
      position: absolute;
      left: 10px;
      top: 11px;
    }

    &.t1 {
      @include label-variant('./assets/icon1.png')
    }

    &.t2 {
      @include label-variant('./assets/icon2.png')
    }

    &.t3 {
      @include label-variant('./assets/icon3.png')
    }

    &.t4 {
      @include label-variant('./assets/icon4.png')
    }

    &.t5 {
      @include label-variant('./assets/icon5.png')
    }

  }

  h4 {
    font-size: 22px;
    margin: 22px 0 0;
    padding: 0;
  }

  ol {
    padding: 20px 0 0 35px;
  }

  p {
    padding: 10px 0 0 10px;
    text-align: justify;
  }

  h4 ~ p {
    padding: 10px 10px 40px 0;
  }
}

.link1 {
  margin: 0 0 0 130px;

  &:before {
    background: url('./assets/icon1.png') no-repeat center center;
    background-size: contain;
  }
}

.link2 {
  margin: -10px 0 0 0;

  &:before {
    background: url('./assets/icon2.png') no-repeat center center;
    background-size: contain;

  }
}

.link3 {
  margin: -10px 0 0 52px;

  &:before {
    background: url('./assets/icon3.png') no-repeat center center;
    background-size: contain;
  }
}

.link4 {
  margin: -10px 0 0 195px;

  &:before {
    background: url('./assets/icon4.png') no-repeat center center;
    background-size: contain;
  }
}

.link5 {
  margin: -10px 0 0 120px;

  &:before {
    background: url('./assets/icon5.png') no-repeat center center;
    background-size: contain;
  }
}
