.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('./assets/banner.jpg') rgb(24, 25, 79) bottom no-repeat;
  background-size: cover;
  // 小米有个bug，设置高度动画防止抖动
  transition: all 1s;
}

.init {
  height: 1079px;

  @media (max-width: 767px) {
    height: 120vh;
  }
}

.container {
  flex: auto;
  max-width: 960px;
}

.slogan {
  color: #fff;
  font-size: 52px;
  text-align: center;
  letter-spacing: 5px;
}

.btnWrap {
  margin: 115px 0 0 0;

  a {
    display: block;
    width: 300px;
    height: 60px;
    margin: auto;
    font-size: 32px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(40deg, rgb(0, 158, 242), rgb(0, 105, 223));
    border-radius: 5px;
  }

  a:hover {
    color: #f0c203;
  }
}
