@import '../../../responsive';
.root {
  max-width: 1920px;
  min-height: 100vh;
  background: url('./assets/bg.png') #000 bottom no-repeat;
  background-size: cover;
  transition: all 1s;
}

.planet {
  min-height: inherit;
  background: url('./assets/planet.png') center bottom no-repeat;
  position: relative;
}

.container {
  position: relative;
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: inherit;
  margin: auto;
}

.slogan {
  color: #fff;
  @include pc {
    font-size: 40PX;
  };
  font-size: 40px;
  text-align: center;
  text-shadow: 0 0 3px #fff;
}

.btnWrap {
  margin: 115px 0 0 0;

  a {
    display: block;
    position: relative;
    width: 210px;
    height: 50px;
    margin: auto;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px 2px #fff;
  }

}
