.root {
  background-color: #040223;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 60PX auto;
  padding: 0 20px;

  h2 {
    color: #D1E5EF;
    font-size: 26PX;
    text-align: center;
  }
}

.table {
  display: table;
  width: 100%;
}

.descr {
  display: table-cell;
  width: 50%;
  padding-top: 50px;

  @media screen and (max-width: 767px){
    padding: 50px 40px 0;
  }

  dl {
    max-width: 505px;
    position: relative;
    padding: 0 0 0 70PX;
    margin-bottom: 50PX;

    &:before {
      content: '';
      position: absolute;
      width: 53PX;
      height: 67PX;
      background: url(./assets/dl1.png) no-repeat center;
      background-size: contain;
      transform: translateX(-70PX);
    }
    &:nth-child(2):before {
      background-image: url(./assets/dl2.png);
    }
    &:nth-child(3):before {
      background-image: url(./assets/dl3.png);
    }
    &:nth-child(4):before {
      background-image: url(./assets/dl4.png);
    }
    &:nth-child(5):before {
      background-image: url(./assets/dl5.png);
    }
    dt {
      font-size: 18PX;
      line-height: 25PX;
      color: #D1E5EF;

    }
    dd {
      font-size: 12PX;
      line-height: 25PX;
      color: #8288A3;
    }
  }
}

.demo {
  display: table-cell;
  width: 50%;
  vertical-align: middle;

  @media screen and (max-width: 767px){
    display: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
