.root {
  background-color: #040223;

  @media (max-width: 767px) {
    min-height: 100vh;
  }
}

.container {
  margin: auto;
  padding: 60px 20px;
  max-width: 1200px;

  h2 {
    margin: 0 0 80px;
    font-size: 26px;
    color: #D1E5EF;
    text-align: center;
  }
}

.person {
  cursor: pointer;

  img {
    width: 100%;
    max-width: 222px;
    height: auto;
    display: block;
    margin: auto;
  }

  dl {

    dt {
      margin: 40px 0 10px;
      font-size: 22px;
      color: #D1E5EF;
      text-align: center;
    }

    dd {
      font-size: 16px;
      color: #D1E5EF;
      text-align: center;
    }
  }
}

.resume {
  position: relative;
  padding: 20px;
  background:rgba(8,8,41,1);
  border-radius:4px;
  border:1px solid rgba(33,35,87,1);
  color: #8086A1;
  line-height: 20px;
  font-size: 14px;

  .arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 16px;
    border-bottom-color: rgba(33,35,87,1);
    border-top-width: 0;
    top: -16px;

    &:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 17px;
      content: " ";
      top: 0.01333rem;
      margin: 0 0 0 -17px;
      border-top-width: 0;
      border-bottom-color: rgba(8,8,41,1);
    }
  }
}

.custom-pagination {
  position: static;
  margin: 20px 0 0;

  :global(.swiper-pagination-bullet) {
    background-color: #fff;
  }
  :global(.swiper-pagination-bullet-active) {
    background-color: #00b3ee;
  }
}

