.root {
  background-color: #fff;
}

.container {
  margin: auto;
  padding: 60px 20px;
  max-width: 1200px;

  h2 {
    margin-bottom: 40px;
    text-align: center;
    color: #04a0ef;
    font-size: 42px;
  }
}

.logos {

  div {
    padding: 10px 15px;
  }

  img {
    max-width: 100%;
  }
}
