.root {
  height: 100px;
  background: rgba(0, 0, 0, .3);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  transition: .5s all;
  display: block;

  @media (max-width: 992px) {
    transform: translateY(-200px);
    opacity: 0;
    display: none;
  }
}

.container {
  height: inherit;
  margin: auto;
  max-width: 1200px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 79px;

  a {
    display: block;
  }

  img {
    width: 100%;
  }
}

.nav {
  float: right;
  display: flex;
  align-items: center;

  a {
    display: inline-block;
    font-size: 18px;
    color: #8288A3;
    padding: 10px;
    margin-left: 25px;
  }

  a:hover, .active {
    color: #FFF;
    text-decoration: none;
  }

  a:last-child {
    margin-left: 20px;
  }
}

.login {
  margin-right: 20px;
}

.user {
  position: relative;
  display: inline-block;
  padding: 20px;
  margin-left: 20px;
  color: #fff;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  &:hover {
    background-color: rgba(100, 100, 100, .2);

    .btn {
      visibility: visible;
    }

    .drop {
      display: block;
    }
  }

  .btn {
    visibility: hidden;
    border-width: 0;
    background-color: transparent;
    outline: 0;
  }

  .drop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(100, 100, 100, .2);
    transform: translateY(62px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    a {
      display: block;
      padding: 10px;
      margin-left: 0;

      &:hover {
        background-color: rgba(100, 100, 100, .2);
        border-width: 0;
      }
    }
  }
}
