.root {
  background-color: #040223;
}

.container {
  margin: auto;
  padding: 60px 20px 120px;
  max-width: 1200px;

  h2 {
    margin-bottom: 40px;
    text-align: center;
    color: #D1E5EF;
    font-size: 26px;
  }
}

.logos {
  max-width: 980px;
  margin: auto;
  text-align: center;

  .unit {
    display: inline-block;
    width: 12.5%;
    text-align: center;

    @media(max-width: 767px) {
      width: 25%;
    }

    @media(max-width: 479px) {
      width: 33.3%;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
