@import '../../assets/bootstrap/bootstrap/_variables.scss';

.root {
  background: var(--footer-bg-color);
  color: #fff;
  padding: 5px;
  width: 100%;
}

.homeFooter {
  min-width: 1200px;
  width: 100%;
}

.sns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px 0;
  flex: 0 1 auto;
  align-items: center;
  width: fit-content;
  margin: auto;

  a {
    opacity: 0.5;

    &:hover {
      opacity: initial;
    }
  }

  img {
    padding: 3px;
  }
}

.qrc {
  width: 100px;
  height: 100px;

  @media (max-width: $screen-md - 1) {
    width: 50vw;
    height: auto;
  }
}

.copyright {
  text-align: center;
}

// 自定义bootstrap的弹出层的大小和位置
.customDialog {
  width: fit-content;
  margin: 30px auto;
}

@media (min-width: $screen-md) { // >= 992px
  .logoContainer {
    position: absolute;
  }
}

@media (min-width: $screen-sm) { // >= 768px
  .firstRow {
    display: flex;
  }
}

@media (max-width: $screen-sm - 1) { // <=767px
  .logoContainer {
    text-align: center;
  }
}

@media (max-width: $screen-xs - 1) { // <= 479px
  .logoContainer > img {
    min-width: 100px;
    width: 30vw;
    height: auto;
  }

  .sns img {
    min-width: 15px;
    max-width: 45px;
    width: 10vw;
    height: auto;
    padding: 3px;
  }
}
