@import '../../assets/bootstrap/bootstrap/_variables.scss';

.root {
  background: #1A1F2B;
  color: #fff;
  padding: 5px;
  width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
  overflow: hidden;
  position: relative;

  @media(max-width: 1199px) {
    height: 500px;
  }
}

.logo {

  @media(min-width: 1200px) {
    position: absolute;
    top: 34px;

    img {
      width: 212px;
      height: 66px;
    }
  }

  @media(max-width: 1199px) {
    padding: 60px 0 0 0;
    text-align: center;

    img {
      width: 153px;
      heihgt: 48px;
    }
  }
}

.sns {
  width: fit-content;
  margin: 45px auto 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 8px;

    img {
      max-width: 100%;
      height: auto;
    }
  }


  a {
    opacity: 0.5;

    &:hover {
      opacity: initial;
    }
  }

  @media(max-width: 1199px) {
    width: 404px;

    li {
      width: 20%;
      margin: 20px 0;
      padding: 0 10px;
    }
  }
}

.qrc {
  width: 100px;
  height: 100px;

  @media (max-width: $screen-md - 1) {
    width: 50vw;
    height: auto;
  }
}

.copyright {
  font-size: 20px;
  color: #666771;
  text-align: center;
  padding: 30px 0 10px 0;
}

// 自定义bootstrap的弹出层的大小和位置
.customDialog {
  width: fit-content;
  margin: 30px auto;
}
